@import '../../../vars.less';

.color-input {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;

  background-color: @bg;
  border: 2px solid @outline;
  border-radius: @border-radius;
}

.input-block {
  position: relative;
}

.validate-color-error {
  position: absolute;
  top: 105%;
  left: -16%;
  z-index: 1;

  width: 300px;

  color: @error;
  font-size: 16px;

  span {
    font-weight: 600;
  }
}

.focused {
  outline: 3px solid @outline;
}

.color-span {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.color-btn {
  color: @outline;
  font-weight: 700;
}

.rotate-in,
.rotate-out {
  transition: transform 0.1s linear;
}

.rotate-out {
  transform: rotate(180deg);
}
